.git
.github
.vscode
.settings
.idea

front
fastapi
app
ai
docs
deploy

**/node_modules
**/.next
**/.expo
**/dist
**/web-build
**/.gradle
**/build
**/out
back/bin

.env
*.env.local
.DS_Store
*.iml
pivotSeoul.code-workspace
